.home {
    padding: 3.5rem 0 2rem;
}

.home-container {
    position: relative;
    row-gap: 2rem;
}

.home-img {
    width: 200px;
    justify-self: center;
}

.home-description {
    margin-bottom: var(--mb-2-5);
}

.home-social {
    position: absolute;
    top: 2rem;
    right: -1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
}

.home-social-follow {
    font-weight: var(--font-medium);
    font-size: var(--smaller-font-size);
    color: var(--first-color);
    position: relative;
    transform: rotate(90deg);
}

.home-social-follow::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--first-color);
    right: -45%;
    top: 50%;
}

.home-social-links {
    display: inline-flex;
    flex-direction: column;
    row-gap: .25rem;
}

.home-social-link {
    font-size: 1rem;
    color: var(--second-color);
    transition: .3s;
}

.home-social-link:hover {
    transform: translateX(.25rem);
}

.section {
    padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    color: var(--second-color);
    font-family: var(--subtitle);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid, .grid {
    display: grid;
    gap: 1.5rem;
}

.scrolheader {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color-alt);
}

.scrolltop-icon {
    font-size: 1.8rem;
    color: var(--body-color);
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

.home-container {
    height: calc(100vh - var(--header-height));
    align-content: center;
}

.home-title {
    font-family: var(--subtitle);
    font-size: var(--biggest-font-size);
    color: var(--second-color);
    margin-bottom: var(--mb-1);
}

.home-subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
}

.home-img {
    width: 300px;
    justify-self: center;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.about-data {
    text-align: center;
}

.about-description {
    margin-bottom: var(--mb-3);
}

.about-img {
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
}
.home {
    padding: 3.5rem 0 2rem;
}

.home-container {
    position: relative;
    row-gap: 2rem;
}

.home-img {
    width: 200px;
    justify-self: center;
}

.home-description {
    margin-bottom: var(--mb-2-5);
}

.home-social {
    position: absolute;
    top: 2rem;
    right: -1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
}

.home-social-follow {
    font-weight: var(--font-medium);
    font-size: var(--smaller-font-size);
    color: var(--first-color);
    position: relative;
    transform: rotate(90deg);
}

.home-social-follow::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--first-color);
    right: -45%;
    top: 50%;
}

.home-social-links {
    display: inline-flex;
    flex-direction: column;
    row-gap: .25rem;
}

.home-social-link {
    font-size: 1rem;
    color: var(--second-color);
    transition: .3s;
}

.home-social-link:hover {
    transform: translateX(.25rem);
}

.section {
    padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    color: var(--second-color);
    font-family: var(--subtitle);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid, .grid {
    display: grid;
    gap: 1.5rem;
}

.scrolheader {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color-alt);
}

.scrolltop-icon {
    font-size: 1.8rem;
    color: var(--body-color);
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

.home-container {
    height: calc(100vh - var(--header-height));
    align-content: center;
}

.home-title {
    font-family: var(--subtitle);
    font-size: var(--biggest-font-size);
    color: var(--second-color);
    margin-bottom: var(--mb-1);
}

.home-subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
}

.home-img {
    width: 300px;
    justify-self: center;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.about-data {
    text-align: center;
}

.about-description {
    margin-bottom: var(--mb-3);
}

.about-img {
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
}

.menu-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.menu-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
    padding: .75rem;
}

.menu-img {
    width: 100px;
    align-self: center;
    margin-bottom: var(--mb-2);
}

.menu-name,
.menu-preci {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.menu-name {
    font-size: var(--normal-font-size);
}

.menu-detail,
.menu-preci {
    font-size: var(--small-font-size);
}

.menu-detail {
    margin-bottom: var(--mb-1);
}

.menu-button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
}

@media screen and (max-width: 320px) {
    .question-img {
        width: 220px;
        height: 260px;
    }

    .question-orbe {
        width: 236px;
        height: 280px;
    }

}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 8rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav-list {
        display: flex;
    }

    .nav-item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav-toggle {
        display: none;
    }
}

@media screen and (min-width: 576px) {
    .home-container,
    .about-container,
    .app-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .about-data,
    .about-initial,
    .app-data,
    .app-initial,
    .contact-container,
    .contact-initial {
        text-align: initial;
    }

    .about-img,
    .app-img {
        width: 380px;
        order: -1;
    }

    .contact-container {
        width: 450px;
        margin-inline: auto;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 8rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav-list {
        display: flex;
    }

    .nav-item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav-toggle {
        display: none;
    }

    .home-container {
        height: 100vh;
        justify-items: center;
    }

    .menu-container {
        margin-top: var(--mb-6);
        grid-template-columns: repeat(3, 210px);
        column-gap: 4rem;
    }
    
    .menu-content {
        padding: 1.5rem;
    }

    .menu-img {
        width: 130px;
    }

    .question-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 960px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .home-img {
        width: 500px;
    }

    .about-container {
        column-gap: 7rem;
    }
}

@media screen and (min-height: 721px) {
    .home-container {
        height: 640px;
    }
}

@media screen and (min-width: 1023px) {
    .question-container {
        align-items: flex-start;
        column-gap: 5rem;
    }

    .question-orbe {
        width: 473px;
        height: 631px;
        border-radius: .5rem;

    }

    .question-img {
        width: 461px;
        height: 601px;
        border-radius: .5rem;
    }

    .question-img img {
        max-width: initial;
        width: 490px;
    }

    .question-description {
        font-size: var(--normal-font-size);
        margin-bottom: 2.5rem;
    }

    .question-accordion-title {
        font-size: var(--normal-font-size);
    }

    .question-accordion-item {
        padding: 1.25rem 1.25rem 1.25rem 1rem;
    }

    .question-accordion-description {
        padding-bottom: 1rem;
        font-size: var(--small-font-size);
    }
}

@media screen and (min-width: 1040px) {
    .question-description {
        font-size: var(--small-font-size);
    }
}

