.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
    }
}

.nav-item {
    margin-bottom: var(--mb-2);
}

.nav-link,
.nav-logo,
.nav-toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.nav-logo:hover {
    color: var(--first-color);
}

.nav-link {
    transition: .3s;
}

.nav-link:hover {
    color: var(--first-color);
}

.nav-toggle {
    font-size: 1.3rem;
    cursor: pointer;
}

.show-menu {
    top: var(--header-height);
}

.active-link {
    color: var(--first-color);
}

.scrolheader {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color-alt);
}

.scrolltop-icon {
    font-size: 1.8rem;
    color: var(--body-color);
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}


@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 8rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav-list {
        display: flex;
    }

    .nav-item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav-toggle {
        display: none;
    }
}